.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:darksalmon;
    padding: 10px;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    width: 400px;
    gap: 20px;
}

.listInput span {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.listItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:blanchedalmond;
    padding: 10px;
    font-size: 20px;
    width: 400px;
    gap: 2px; 
}

.item {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.done {
    font-size: 12px;
}

.remove {
    font-size: 12px;
}
