.records {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
    padding: 10px;
}

.userCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed black;
    padding: 5px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    min-width: 300px;
}